<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ssln.fangcun.collection.dao.TaskDetailDao">
  <resultMap id="BaseResultMap" type="net.ssln.fangcun.collection.domain.TaskDetail">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="taskid" jdbcType="VARCHAR" property="taskid" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="local_name" jdbcType="VARCHAR" property="localName" />
    <result column="save_url" jdbcType="VARCHAR" property="saveUrl" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
  </resultMap>
  
 
  <sql id="Base_Column_List">
    id, taskid, pic_url, local_name, save_url, state, insert_time
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_task_detail
    where id = #{id,jdbcType=VARCHAR}
  </select>
   <select id="selectByUrl" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_task_detail
    where url = #{url,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_task_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
 
  <insert id="insert" parameterType="net.ssln.fangcun.collection.domain.TaskDetail">
    insert into t_task_detail (id, taskid, pic_url, 
      local_name, save_url, state, 
      insert_time)
    values (#{id,jdbcType=VARCHAR}, #{taskid,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, 
      #{localName,jdbcType=VARCHAR}, #{saveUrl,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{insertTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="net.ssln.fangcun.collection.domain.TaskDetail">
    insert into t_task_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="taskid != null">
        taskid,
      </if>
      <if test="picUrl != null">
        pic_url,
      </if>
      <if test="localName != null">
        local_name,
      </if>
      <if test="saveUrl != null">
        save_url,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="taskid != null">
        #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="localName != null">
        #{localName,jdbcType=VARCHAR},
      </if>
      <if test="saveUrl != null">
        #{saveUrl,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
 
 
  
  <update id="updateByPrimaryKeySelective" parameterType="net.ssln.fangcun.collection.domain.TaskDetail">
    update t_task_detail
    <set>
      <if test="taskid != null">
        taskid = #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="localName != null">
        local_name = #{localName,jdbcType=VARCHAR},
      </if>
      <if test="saveUrl != null">
        save_url = #{saveUrl,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.ssln.fangcun.collection.domain.TaskDetail">
    update t_task_detail
    set taskid = #{taskid,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      local_name = #{localName,jdbcType=VARCHAR},
      save_url = #{saveUrl,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>